* {
    dark: #2A231C;
    light: #EBEBE5;
    accent-dark: #463A2E;
    accent-light: #865E43;

    pastel-a: #797D62;
    pastel-b: #9B9B7A;
    pastel-c: #D9AE94;
    pastel-d: #E5C59E;
    pastel-e: #F1DCA7;
    pastel-f: #F8D488;
    pastel-g: #E4B074;
    pastel-h: #D08C60;
    pastel-i: #997B66;
}
