.owncloudsync.log
.nextcloudsync.log
.sync_*
.directory
.direnv
.idea
.docs
result

config/neovim/store
home/modules/ags/config/types
home/modules/ags/config/tsconfig.json
home/modules/agenix/secrets.nix
