// Import the colors exported by the nixos config
// TODO: Depend on username somehow...
@use "/home/christoph/.config/colors" as *;

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

// Order is Top-Right-Bottom-Left for combined properties

* {
    // Remove the default theme's background-image, otherwise background-color doesn't work
    background-image: none;

    // Clear implicit paddings and margins, otherwise size management is terrible
    padding: 0;
    margin: 0;
}

.Window {
    background: transparent;
    font-weight: bold;
    font-size: x-large;

    .Bar {
        background-color: rgba($light-base, 0.3);
        border-radius: 6px;
        border-width: 2px;
        border-color: $dark-lavender;
        border-style: solid;
        margin: 10px 10px 0 10px;

        .LauncherButton {
            background-color: $dark-lavender;
            border-radius: 6px;
            border-width: 0;
            margin: -1px 10px -1px -1px; // Negative margins to remove gaps from border radii
            min-width: 36px;
            min-height: 36px;

            >label {
                margin-left: -4px; // Tux not centered otherwise
            }
        }
    }
}
